extends dashboard-base

block mainContent
  a.display-4(href=`/dashboard/app/${mode}`) Home
  form#search(action=`/dashboard/app/${mode}`, method="GET", data-mode=mode, data-page=page, data-nsfw= user.nsfw)
    .input-group.mb-3
      input(type="hidden" name="page" id="page" value=page)
      if mode == 4
        select#category(type="text", name="category", class="form-control")
      input#searchTerm(onfocus=mode==2?'searchSubreddits(this)':undefined ,type="text", name="searchTerm", class="form-control", placeholder="検索キーワードを入力してください", value=searchTerm, aria-label="Search")
      button.shadow-0(type="submit", class="btn btn-primary", style="z-index: 1;") 
        i.fas.fa-search
    .d-flex.mb-3
      .form-check.form-switch.input-group-text.rounded-0.position-relative.border-0.p-0
        label.form-check-label.badge.me-3.bg-danger.p-2(for="nsfw")
          | NSFW
          i.fas.fa-times.ms-2
        input.form-check-input.position-absolute(type="checkbox", role="switch", id="nsfw", name="nsfw", style="z-index: 1;opacity:0;")
      a.badge.bg-dark.d-flex.align-items-center.text-white(href=`/dashboard/app/${mode}/fav?searchTerm=${searchTerm?searchTerm:''}`)
        | Favorites
        i.fas.fa-heart.ms-2
  ul.list-group#subRedditSearchRes.bg-white.w-100.position-absolute.border.shadow(style="max-height: 50vh;overflow: auto;z-index: 3;display: contents;")
  if result && mode == 1
    block dynamicContent
  else 
    block dynamicContent
  if uniqueCurrentPages
    if uniqueCurrentPages.length
      ul
        each page in uniqueCurrentPages
          li
            a(href=page.currentPage)= page.currentPage
    else
      p No unique pages found.