extends dashboard-base

block mainContent

  #select-country.position-fixed.justify-content-center.align-items-center.bg-dark(style='display:none;inset:0;z-index: 99;')
    .card(style="width: 50vw;")
      .card-top.text-end
        .me-3.mt-2.close(style="cursor:pointer")
          i.fas.fa-times
      .card-body 
        p.current Current country : #{user.favoriteCountry}
        select(name="country", id="countryDropdown")
          option(value="") Select a country
          option(value="US") United States
          option(value="CN") China
          option(value="IN") India
          option(value="ID") Indonesia
          option(value="PK") Pakistan
          option(value="BR") Brazil
          option(value="NG") Nigeria
          option(value="BD") Bangladesh
          option(value="RU") Russia
          option(value="JP") Japan

  form#search(action=`/dashboard/app/${mode}`, method="GET", data-mode=mode, data-page=page, data-nsfw= user.nsfw)
    .input-group.mb-3
      input(type="hidden" name="page" id="page" value=page)
      if mode == 4
        select#category(type="text", name="category", class="form-control")
      input#searchTerm(data-mode=mode ,type="text", name="searchTerm", class="form-control", placeholder="検索キーワードを入力してください", value=searchTerm, aria-label="Search")
      button.shadow-0(type="submit", class="btn btn-primary", style="z-index: 1;") 
        i.fas.fa-search

    ul.list-group#subRedditSearchRes.bg-white.w-100.position-absolute.shadow(style="max-height: 50vh;overflow: auto;z-index: 3;right: 0;;")
    #loadingSpinner.list-group-item.loading.text-center.w-100.position-absolute.p-3.bg-white(style="display: none;z-index: 3;")
      div.loader.spinner-border
        span.visually-hidden Loading ...

    
  if searchTerm || fav
    label.form-label.d-none(for="grid") 1行あたりの要素数
    div#range(data-mode=mode)
      input.form-range(type="range" id="grid-range" min="1" max="4" value="3")
  
  .row
    .my-3.col.col-auto
      a.btn.btn-dark.me-2(href=`/dashboard/app/${mode}/`)
        i.fas.fa-home
    if searchTerm || fav
      #extractors.my-3.col-auto
        button.btn.btn-primary.extractor.mx-2(data-extractor="false") All
    .my-3.col.d-flex.justify-content-end
      //button.btn.btn-primary.me-2(type='button' onclick="getDownloadData()")
      a.btn.btn-primary.me-2(href=`/dashboard/app/${mode}/fav?searchTerm=All`)
        i.fas.fa-download
        ul#download-list.list-group.position-fixed.m-3.shadow(style="bottom: 0;right:0;width: 20%;z-index:99")
      a.btn.btn-primary.me-2(href=`/dashboard/app/${mode}/fav?searchTerm=${searchTerm?searchTerm:''}`)
        i.fas.fa-heart
      button.btn.btn-primary.me-2(onclick='selectCountry()')
        i.fas.fa-globe
      .d-flex
        .form-check.form-switch.input-group-text.rounded-0.position-relative.border-0.p-0
          label.form-check-label.btn.me-2.btn-danger.p-2.text-center(for="nsfw")
            | NSFW
          input.form-check-input.position-absolute(type="checkbox", role="switch", id="nsfw", name="nsfw", style="z-index: 1;opacity:0;")


  if result && mode == 1
    block dynamicContent
  else 
    block dynamicContent
  if uniqueCurrentPages
    if uniqueCurrentPages.length
      ul
        each page in uniqueCurrentPages
          li
            a(href=page.currentPage)= page.currentPage
    else
      p No unique pages found.