extends default

block content
  .container-fluid.h-100
    .row.h-100
      include sidebar
      .row.justify-content-center.m-0.p-0
        .container.py-4.bg-light.h-100
          main.col-md-9.ms-sm-auto.col-lg-10.px-md-4
            h1 Welcome #{user.username}!
            form#search(action=`/dashboard/app/${mode}`, method="GET")
              .input-group.mb-3
                .input-group-prepend
                  .form-check.form-switch.input-group-text.m-0.rounded-0
                    label.form-check-label.badge.me-3.bg-danger(for="nsfw") NSFW
                    input.form-check-input(type="checkbox", role="switch", id="nsfw", name="nsfw", style="z-index: 1;")
                input(type="hidden" name="page" id="page" value=page)
                input#searchTerm(onfocus=mode==2?'searchSubreddits(this)':undefined ,type="text", name="searchTerm", class="form-control", placeholder="Enter your search term", value=searchTerm, aria-label="Search")
                button.shadow-0(type="submit", class="btn btn-primary", style="z-index: 1;") Search
              ul.list-group#subRedditSearchRes.bg-white.w-100.position-absolute.border.shadow(style="max-height: 50vh;overflow: auto;z-index: 3;display: contents;")
            if uniqueCurrentPages
              if uniqueCurrentPages.length
                ul
                  each page in uniqueCurrentPages
                    li
                      a(href=page.currentPage)= page.currentPage
              else
                p No unique pages found.
            block dynamicContent