extends dashboard

block dynamicContent
  if data
    .masonry-container.row.custom-carousel-container
      each query, index in Object.keys(data).reverse()
        a.masonry-item.col-6.col-sm-3.mb-3.px-2.rounded(href=`/dashboard/app/${mode}/?searchTerm=${query}`)
          .card.hover(style="overflow: hidden;", data-query=query)
            .card-top.py-2.px-3.position-absolute
              .d-flex.justify-content-between
                  .delete-button-history.btn.btn-dark.border-white.border.hover.shadow(type="button", style="display:none")
                      i.fas.fa-trash-alt
            .card-body.row.p-0.rounded
              each item in data[query]
                img.col-6.p-0(style="width:50%;height:75px;object-fit:cover", data-id=item.video_id, src=item.url || item.imageUrl || item.thumb, alt=item.title)
              .text-dark.px-4.py-2.fw-bold
                span=query
  else
    p Your search history will be displayed here.
