extends dashboard

block dynamicContent
  div.mode-container(id=section data-mode=mode)
  #imageList.image-container.auto-show.d-flex
  .masonry-wrapper
    section#results.masonry-container.row.custom-carousel-container
  .btn.btn-dark.bordert.load-more.mt-5(type="button", data-fav=favmode ? "true" : "false", data-userId=user._id data-mode=mode, data-page=page+1, data-searchterm=searchterm, data-nsfw= user.nsfw)        
    i.fas.fa-angle-right
  .d-none.position-fixed(style="bottom:10px;right:10px")
    button#activeSlider.btn.btn-dark.shadow-0.rouded 
      i.fas.fa-play
  .carousel-toolbar.position-absolute.justify-content-center.py-3(style="z-index: 3;bottom: 0px;right: 15px;left: 15px;display:none")
    button.btn.btn-dark.rounded.border-0.shadow-0#toggleAudio.mx-3.text-white.border.border-white(type="button")
      i.fas.fa-volume-off
      i.fas.fa-volume-up.d-none
    button.btn.btn-dark.rounded.border-0.shadow-0#closeSlickModal.mx-3.text-white.border.border-white(type="button")
      i.fas.fa-times