extends dashboard

block dynamicContent
  div(id=section)
  #imageList.image-container.auto-show
  if (scrapedData && scrapedData.length > 0 )|| (medias2 && medias2.length > 0)
    .masonry-container.row.custom-carousel-container
      each data in scrapedData.reverse()
        if data._id
          - displayscr = (mode == 3 )? 'displaysrc':''
          .mb-2.px-1.masonry-item.custom-carousel-item.grid-item(data-mode=mode,data-type=data.video?'VIDEO':'IMAGE',data-extractor=data.extractor, data-id=data._id, data-isdl=(data.filePath?"true":"false"))
            .card.info-container.bg-dark(class=`card-clickable-${mode} ${displayscr}`, style="cursor:pointer", data-id=data._id, data-title=data.title, data-link=data.link)
              .card-top
                if data.link && data.link.includes('redgif')
                  .card-body-over.position-absolute.d-flex.justify-content-center.align-items-center(style="inset:0;")
                      button.iframe-button.btn.shadow.border.border-white(style="background: #ffffff61;", type="button", data-id=data._id, class=data.isdl || data.highestQualityURL ?'done bg-dark text-white':'', data-url=`${data.link.replace('watch','ifr')}`)
                        i.fas.fa-play
                if mode == '1' || (data.link && data.link.includes('scrolller') && data.video)
                  .card-body-over.position-absolute.d-flex.justify-content-center.align-items-center(style="inset:0;")
                      button.play-button.btn.shadow.border.border-white(type="button", data-id=data._id, class=data.isdl || data.highestQualityURL ?'done bg-dark text-white':'' style="background: #ffffff61;")
                        i.fas.fa-play
                if mode == '5'
                  .card-body-over.position-absolute.d-flex.justify-content-center.align-items-center(style="inset:0;")
                      button.instant-play-button.btn.shadow.border.border-white(type="button", data-id=data._id, class=data.isdl || data.highestQualityURL ?'done bg-dark text-white':'' style="background: #ffffff61;")
                        i.fas.fa-play
                
              .setting-container.position-absolute.btn.shadow-0.text-white(data-id=data._id, style="display:none;top:10px;right:20px")
                i.fas.fa-ellipsis-v 
              
              .video-container.d-flex(data-id=data._id)
                if mode == 2
                  - favsrc = data.filePath && data.filePath.includes('.mp4') ? false : data.filePath
                  if data.link.includes('redgif') || data.link.includes('scrolller')
                      img.card-img-top(type="button",data-id=data._id, style="object-fit:contain;height: 100%;", src=favsrc || data.thumb , alt=data.title )
                  else 
                    img.card-img-top(type="button", data-id=data._id, style="object-fit:contain;height: 100%;", src=favsrc || data.link, alt=data.title )
                else
                  if data.webm 
                    if !isSafari && false
                      - favsrc = data.filePath && data.filePath.includes('.webm') ? data.filePath : data.webm
                      video.webm(src=favsrc controls loop)
                    else
                      img.card-img-top(type="button",data-id=data._id, style="object-fit:contain;height: 100%;", data-src=data.url , alt=data.title)
                  else
                    img.card-img-top(type="button", data-id=data._id, style="object-fit:contain;height: 100%;", src=data.imageUrl || data.filePath, alt=data.title )
                  if mode == 5
                    video(data-id=data._id, data-src=data.link, style="display:none;" width="100%" controls muted autoplay playsinline)
              .card-title.px-3.my-0(data-id=data._id, style="display:none")
                .row.justify-content-start.flex-row(style="height:100%")
                  .col-12.col-sm-4.text-start(style="overflow:hidden")
                    a.expand(href=`/dashboard/app/${mode}?searchTerm=${data.subreddit}`)=data.subreddit
                  .col-12.col-sm-8.text-start
                    button.expand.delete-button.btn.btn-transparent.border.border-0.my-1.shadow-0(type="button", data-id=data._id)
                        i.fas.fa-trash-alt
                    button.d-none.expand-button.btn.btn-transparent.border.border-0.my-1.shadow-0(type="button", data-id=data._id)
                        i.fas.fa-expand
                    if data.link && data.link.includes('redgif')
                      button.expand.handle-fav.btn.btn-transparent.shadow-0.border.border-0.my-1(type="button", data-id=data._id, class=(data.fav_user_list && data.fav_user_list.includes(user._id.toString()) || data.fav_user_list == user._id.toString())?'done fav':'', data-url=`${data.link.replace('watch','ifr')}`)
                        i.fas.fa-heart
                    else
                      button.expand.handle-fav.btn.btn-transparent.shadow-0.border.border-0.my-1(type="button", class=(data.fav_user_list && data.fav_user_list.includes(user._id.toString()) || data.fav_user_list == user._id.toString())?'done fav':'')
                        i.fas.fa-heart
                    a.source.expand.btn.btn-transparent.border.border-0.my-1.shadow-0(target="_blank", href=data.source||data.link||data.webm||data.url)
                      i.fas.fa-link
                    if mode == 2 && data.extractor == 'scrolller'
                      a.source.expand.btn.btn-transparent.border.border-0.my-1.shadow-0(href=`/dashboard/app/${mode}?searchTerm=${data.link}/discover`)
                        i.fas.fa-plus-square    
                    else 
                      a.source.expand.btn.btn-transparent.border.border-0.my-1.shadow-0(href=`/dashboard/app/${mode}?searchTerm=${data.title || data.alt}`)
                        i.fas.fa-plus-square    
                    button.expand-card.btn.btn-transparent.shadow-0.border.border-0.my-1(type="button")
                        i.fas.fa-expand
                if data.title
                  p=data.title 

      if medias2 && medias2.length > 0 && mode == 'actresses'
        .card.bg-transparent.shadow-0
          .card-body.px-0
              .row.row-cols-sm-4.row-cols-12
                each item in medias2
                  .actress.card.p-0.mb-3.text-center.border.border-light(id=item._id data-name=item.actressName style="cursor:pointer;overflow: hidden;" onclick=`downloadVideo('${item._id}','${item.actressName}')` onmouseenter=`setPreview('${item._id}',event)` onmouseleave=`setPreview('${item._id}',event)`)
                      .card-image-top     
                          img(data-id=item._id src=item.thumbnail_filePath style="height: 202px; display: block; object-fit: cover; width: 100%;")
                          video(data-id=item._id style="display: none; height: 202px; object-fit: cover; width: 100%;" src=item.preview_filePath )
                      .card-body 
                          .title(style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;")=item.title
                          .duration.badge.bg-light.text-dark(style="position: absolute;top: 20px;right: 10px;opacity: 0.7;")=item.duration
                          a.link.badge.bg-light.text-dark(target="_blank" href=item.link style="position: absolute;top: 50px;right: 10px;opacity: 0.7;")
                              i.fas.fa-link
  else
    p ここには何もありません！
  if scrapedData && scrapedData.length > 0 
    .position-fixed.d-flex.justify-content-center.w-100(style="bottom:10px;right:10px;left:10px")
      a.btn.btn-dark.border(type="button",class=page<=1?'d-none':'', href=`/dashboard/app/${mode}${fav?'/fav':''}?page=${page>1?page-1:''}&searchTerm=${searchTerm?searchTerm:''}&nsfw=${user.nsfw}`)        
        i.fas.fa-angle-left
        //| 前へ
      span.px-3.btn.btn-white #{page}
      a.btn.btn-dark.bordert.load-more-next(type="button", href=`/dashboard/app/${mode}${fav?'/fav':''}?page=${page+1}&searchTerm=${searchTerm?searchTerm:''}&nsfw=${user.nsfw}`, data-fav=!!fav, data-userId=user._id data-mode=mode, data-page=page+1, data-searchTerm=searchTerm, data-nsfw= user.nsfw)        
        //| 次へ
        i.fas.fa-angle-right
      a.btn.btn-dark.bordert.d-none(type="button", class=scrapInfo&&scrapInfo.page==page?'d-none':'',href=`/dashboard/app/${mode}${fav?'/fav':''}?page=${scrapInfo?scrapInfo.page:'1'}&searchTerm=${searchTerm?searchTerm:''}&nsfw=${user.nsfw}`)        
        i.fas.fa-angle-double-right
  .position-fixed(style="bottom:10px;right:10px")
    button#activeSlider.btn.btn-dark.shadow-0.rouded 
      i.fas.fa-play
  #slickModal.modal.fade(tabindex='-1')
    .modal-dialog.modal-dialog-centered.modal-xl
      .modal-content.rounded-0(style="background:#000;")
        #slickCarousel.slick-carousel
        .position-absolute.d-flex.justify-content-end.py-3.w-100(style="z-index: 3;")
          button.btn.btn-dark.rounded-0#closeSlickModal.mx-3.text-white(type="button")
            i.fas.fa-times
        #slickCarousel-tool-bar.d-none.info-container.d-flex.flex-column.justify-content-center.position-absolute(style="z-index: 3;top:0;bottom: 0;")
          button.btn.btn-dark.rounded-0.slider-delete-button.p-3.text-white(type="button")
              i.fas.fa-trash-alt
          if !fav
            button.btn.btn-dark.rounded-0.download-button.p-3.text-white(type="button")
              i.fas.fa-heart
          a.source.btn.btn-dark.rounded-0.p-3.text-white(target="_blank" href="#")
              i.fas.fa-link