extends dashboard

block dynamicContent
  if (scrapedData && scrapedData.length > 0 )|| (medias2 && medias2.length > 0)
    .masonry-container.row.custom-carousel-container
      each data in scrapedData
        if data._id
          - displayscr = (mode == 3 )? 'displaysrc':''
          .mb-2.px-1.masonry-item.custom-carousel-item.grid-item(data-mode=mode,data-extractor=data.extractor, data-id=data._id, data-isdl=(data.filePath?"true":"false"))
            .card.info-container(class=`card-clickable-${mode} ${displayscr}`, style="cursor:pointer", data-id=data._id, data-title=data.title)
              .card-top.position-relative
                .card-body-over.position-absolute.d-flex.justify-content-center.align-items-center(style="inset:0;")
                    if data.link && data.link.includes('redgif')
                      button.iframe-button.btn.btn-dark.shadow.border.border-white(type="button", data-id=data._id, class=data.isdl?'done':'', data-url=`${data.link.replace('watch','ifr')}`)
                        i.fas.fa-play
                    else
                      if mode == '1' || (data.link && data.link.includes('scrolller') && data.video)
                        button.play-button.btn.btn-dark.shadow.border.border-white(type="button", data-id=data._id, class=data.isdl?'done':'')
                          i.fas.fa-play
                                      

                if mode == 2
                  - favsrc = data.filePath && data.filePath.includes('.mp4') ? false : data.filePath
                  if data.link.includes('redgif') || data.link.includes('scrolller')
                      img.card-img-top(type="button",data-id=data._id, style="object-fit:cover;height: 100%;min-height:200px;", src=favsrc || data.thumb , alt=data.title )
                  else 
                    img.card-img-top(type="button", data-id=data._id, style="object-fit:cover;height: 100%;min-height:200px", src=favsrc || data.link, alt=data.title )
                else
                  if data.webm 
                    if !isSafari && false
                      - favsrc = data.filePath && data.filePath.includes('.webm') ? data.filePath : data.webm
                      video.webm(src=favsrc controls loop)
                    else
                      img.card-img-top(type="button",data-id=data._id, style="object-fit:cover;height: 100%;min-height:200px;", data-src=data.url , alt=data.title)
                  else
                    img.card-img-top(type="button", data-id=data._id, style="object-fit:cover;height: 100%;min-height:200px", src=data.imageUrl || data.filePath, alt=data.title )

              .card-title.bg-white.border-white.border.p-3
                .d-flex.justify-content-start.flex-row(style="height:100%")
                    button.delete-button.btn.btn-white.border.border-0.my-1.shadow-0(type="button", data-id=data._id)
                        i.fas.fa-trash-alt
                    if !fav
                      if data.link && data.link.includes('redgif')
                        button.iframe-button.fav.btn.btn-white.shadow-0.border.border-0.my-1(type="button", data-id=data._id, class=data.isdl?'done':'', data-url=`${data.link.replace('watch','ifr')}`)
                          i.fas.fa-heart
                      else
                        button.download-button.btn.btn-white.shadow-0.border.border-0.my-1(type="button", class=data.isdl?'done':'')
                          i.fas.fa-heart
                    a.source.btn.btn-white.border.border-0.my-1.shadow-0(target="_blank", href=data.source||data.link||data.webm||data.url)
                      i.fas.fa-link
                    if mode == 2 && data.extractor == 'scrolller'
                      a.source.btn.btn-white.border.border-0.my-1.shadow-0(href=`/dashboard/app/${mode}?searchTerm=${data.link}/discover`)
                        i.fas.fa-plus-square     
                a(href=`/dashboard/app/${mode}?searchTerm=${data.subreddit}`)=data.subreddit
                p=data.title 

      if medias2 && medias2.length > 0 && mode == 'actresses'
        .card.bg-transparent.shadow-0
          .card-body.px-0
              .row.row-cols-sm-4.row-cols-12
                each item in medias2
                  .actress.card.p-0.mb-3.text-center.border.border-light(id=item._id data-name=item.actressName style="cursor:pointer;overflow: hidden;" onclick=`downloadVideo('${item._id}','${item.actressName}')` onmouseenter=`setPreview('${item._id}',event)` onmouseleave=`setPreview('${item._id}',event)`)
                      .card-image-top     
                          img(data-id=item._id src=item.thumbnail_filePath style="height: 202px; display: block; object-fit: cover; width: 100%;")
                          video(data-id=item._id style="display: none; height: 202px; object-fit: cover; width: 100%;" src=item.preview_filePath )
                      .card-body 
                          .title(style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;")=item.title
                          .duration.badge.bg-light.text-dark(style="position: absolute;top: 20px;right: 10px;opacity: 0.7;")=item.duration
                          a.link.badge.bg-light.text-dark(target="_blank" href=item.link style="position: absolute;top: 50px;right: 10px;opacity: 0.7;")
                              i.fas.fa-link
  else
    p ここには何もありません！
  if scrapedData.length > 0 && !fav
    .d-flex.justify-content-center.w-100.p-3
      a.btn.btn-dark.border(type="button",class=page<=1?'d-none':'', href=`/dashboard/app/${mode}?page=${page>1?page-1:''}&searchTerm=${searchTerm}&nsfw=${user.nsfw}`)        
        i.fas.fa-angle-left.me-3
        | 前へ
      span.px-3.btn.btn-white #{page}
      button.btn.btn-dark.bordert.load-more.load-more-next(type="button" data-mode=mode, data-page=page+1, data-searchTerm=searchTerm, data-nsfw= user.nsfw)        
        | 次へ
        i.fas.fa-angle-right.ms-3
      a.btn.btn-dark.bordert(type="button", class=scrapInfo&&scrapInfo.page==page?'d-none':'',href=`/dashboard/app/${mode}?page=${scrapInfo?scrapInfo.page:'1'}&searchTerm=${searchTerm}&nsfw=${user.nsfw}`)        
        | Last Page
        i.fas.fa-angle-right.ms-3
  #slickModal.modal.fade(tabindex='-1')
    .modal-dialog.modal-dialog-centered.modal-xl
      .modal-content.rounded-0(style="background:#000;")
        #slickCarousel.slick-carousel
        .position-absolute.d-flex.justify-content-end.py-3.w-100(style="z-index: 3;")
          button.btn#closeSlickModal.mx-3.text-white(type="button")
            i.fas.fa-times
        #slickCarousel-tool-bar.info-container.d-flex.flex-column.justify-content-center.position-absolute(style="z-index: 3;top:0;bottom: 0;")
          button.btn.slider-delete-button.p-3.text-white(type="button")
              i.fas.fa-trash-alt
          if !fav
            button.btn.download-button.p-3.text-white(type="button")
              i.fas.fa-heart
          a.source.p-3.text-white(target="_blank" href="#")
              i.fas.fa-link