#sidebarMenu.collapse.sidebar.collapse.bg-white.position-fixed.h-100.col-md-3.col-lg-3.p-0.shadow(style="z-index:10;display:none")
  .position-sticky
    .list-group.list-group-flush
      li.list-group-item.list-group-item-action.py-2
        a.ripple.btn.text-white.d-flex.align-items-center.w-100.p-3(href='/payment/subscription' , class=user.subscriptionId?"bg-success":"bg-dark")
          i.fas.fa-dollar-sign.me-3
          | サブスクリプション
      li.list-group-item.list-group-item-action.py-2.ripple
        a(href="/dashboard/app/1/history") 
          i.fas.fa-video.me-3
          | ビデオ
      li.list-group-item.list-group-item-action.py-2.ripple
        a(href="/dashboard/app/3/history", data-bs-toggle='collapse', aria-expanded='false', data-bs-target='#contents-collapse7', aria-controls='contents-collapse7') 
          i.fas.fa-image.me-3
          | 画像
        ul.list-unstyled.collapse#contents-collapse7.pt-3(class=`${mode == "news" ? "show":"hide"}`)
          li
            a.list-group-item.list-group-item-action.py-2.ps-5.ripple(href='/dashboard/app/4/history') 
              i.fas.fa-search.me-3
              | image
      li.list-group-item.list-group-item-action.py-2.ripple
        a(href="/dashboard/app/2") 
          i.fas.fa-reddit.me-3
          | Reddit
      li.list-group-item.list-group-item-action.py-2.ripple
        a(href="#" aria-current='false', data-bs-toggle='collapse', aria-expanded='false', data-bs-target='#contents-collapse6', aria-controls='contents-collapse6') 
          i.fas.fa-reddit.me-3
          | ニュース
        ul.list-unstyled.collapse#contents-collapse6.pt-3(class=`${mode == "news" ? "show":"hide"}`)
          li
            a.list-group-item.list-group-item-action.py-2.ps-5.ripple(href='/dashboard/app/news') 
              i.fas.fa-search.me-3
              | 最新の情報
          li
            a.list-group-item.list-group-item-action.py-2.ps-5.ripple(href='/dashboard/app/news/') 
              i.fas.fa-history.me-3
              | パラメータ
      li.list-group-item
        a(href="#" aria-current='false', data-bs-toggle='collapse', aria-expanded='false', data-bs-target='#contents-collapse4', aria-controls='contents-collapse4') 
          i.fas.fa-mixcloud.me-3
          | 画像生成
        ul.list-unstyled.collapse#contents-collapse4.pt-3(class=`${mode == 'stable-diffusion' ? "show":"hide"}`)
          li
            a.list-group-item.list-group-item-action.py-2.ps-5.ripple(href='/dashboard/app/stable-diffusion') 
              i.fas.fa-image.me-3
              | 生成する
          li
            a.list-group-item.list-group-item-action.py-2.ps-5.ripple(href='/dashboard/app/stable-diffusion/gallery') 
              i.fas.fa-images.me-3
              | ギャラリー  
      li.list-group-item.list-group-item-action.py-2.ripple
        a(href="#" aria-current='false', data-bs-toggle='collapse', aria-expanded='false', data-bs-target='#contents-collapse5', aria-controls='contents-collapse4') 
          i.fas.fa-comments.me-3
          | チャットGPT
        ul.list-unstyled.collapse#contents-collapse5.pt-3(class=`${mode == 'openai' ? "show":"hide"}`)
          li
            a.list-group-item.list-group-item-action.py-2.ps-5.ripple(href='/dashboard/app/openai/chat/') チャット
          li
            a.list-group-item.list-group-item-action.py-2.ps-5.ripple(href='/dashboard/app/openai/compare/') テキスト比較
          li
            a.list-group-item.list-group-item-action.py-2.ps-5.ripple(href='/dashboard/app/openai/comparePDF/') PDF比較
          li
            a.list-group-item.list-group-item-action.py-2.ps-5.ripple(href='/dashboard/app/openai/ebook/') eBook
      li.list-group-item.list-group-item-action.py-2.d-lg-none
        if user
          a(href="/user/setting") 
            i.fas.fa-cog.me-3
            | 設定
      li.list-group-item.list-group-item-action.py-2.d-lg-none
        if user
          a(href='#', onclick='logout()') 
            i.fas.fa-sign-out-alt.me-3
            | ログアウト
        else
          a(href='/user/login') 
            i.fas.fa-sign-in-alt.me-3
            | ログイン

    include footer
