extends dashboard-base

block mainContent
  #imageList.image-container.auto-show(style="display:none;")
  .container.my-4
    .row.position-relative
      .col-12.col-sm-4.order-2.order-sm-1
        .dropdown
          button.btn.btn-secondary.dropdown-toggle.w-100(type="button", id="modelDropdown", data-bs-toggle="dropdown", aria-expanded="false", style='overflow:hidden')
            | モデルを選択
          ul.dropdown-menu(aria-labelledby="modelDropdown" style="max-height:65vh;overflow: auto;")
            each model in models
              li
                a.dropdown-item(href="#", data-id=`model-${model.hash}`, onclick=`changeModel('${model.hash}')`)
                  img(src=`/modelpreview/${model.title.split('safetensors')[0]}preview.png`, style="width: 50px; height: 50px; margin-right: 10px;object-fit: cover;object-position: top;")
                  | #{model.title.split('.safetensors')[0]}
        #tags-list.d-flex

        section.mt-2
          #categories-container.col-12(style="max-height:70vh;overflow: auto;")
          .col-12.mt-2
            input#tag-input(type='text' hidden)
            input#prompt-input.form-control.rounded(type='text', placeholder='プロンプトを入力', aria-label='プロンプト入力', value=user.latesr_generated_prompt ? user.latesr_generated_prompt : '')
            // Aspect ratio button group
            div.aspect-ratio-selector.d-flex.flex-row.my-2
              // 1:1 button
              button.btn.btn-white.border.d-flex.align-items-center.aspect-ratio-btn#ratio1x1(onclick="changeAspectRatio('1:1')")
                span(style="width: 16px; height: 16px;")
                | 1:1
              // 2:3 button
              button.btn.btn-white.border.d-flex.align-items-center.aspect-ratio-btn#ratio2x3(onclick="changeAspectRatio('2:3')")
                span(style="width: 12px; height: 16px;")
                | 2:3
              // 3:2 button
              button.btn.btn-white.border.d-flex.align-items-center.aspect-ratio-btn#ratio3x2(onclick="changeAspectRatio('3:2')")
                span(style="width: 16px; height: 12px;")
                | 3:2


        .generate-button-container.position-sticky.col-12.order-2.order-sm-1.text-center.py-2.border.border-white.bg-light(style="bottom:0;")
          .row
            #keepGenerating-button.col-3.btn.btn-warning.shadow-0(data-bs-toggle="tooltip", data-bs-placement="top", title="生成")
              i.fa.fa-spinner

            #gen-container.col-9.btn.btn-primary.shadow-0(data-api=API,onclick="generateDiffusedImage()", style='cursor:pointer;', data-bs-toggle="tooltip", data-bs-placement="top", title="生成")
              i#generate-button.fas.fa-play-circle
              #prompt-loader.loader(style='display:none;' )
                .spinner-border.spinner-border-sm(role="status")
                span.visually-hidden ローディング...
    
          
      .col-12.col-sm-8.order-1.order-sm-2

        .contain-carousel.position-relative.my-2
          .position-absolute.d-flex.flex-row(style="bottom:0;right:0;z-index:1;")
            button#fullscreen.btn.btn-light.border.mx-1(data-bs-toggle="tooltip", data-bs-placement="top", title="拡大")
              i.fa.fa-expand
            button.regeneration.btn.btn-light.border.mx-1(data-bs-toggle="tooltip", data-bs-placement="top", title="生成")
              i.fa.fa-sync-alt
          #diffused-image-gallery.image-gallery
            for item in images
              .gallery-item
                img.m-auto(src=`data:image/png;base64,${item.image}` data-id=`${item.imageId}`)

        .contain-carousel.position-relative
          #fullscreen-toolbar.position-absolute.flex-row.m-2(style="top:0;right:0;z-index:1;display:none;")
            button.regeneration.btn.btn-light.mx-1(data-bs-toggle="tooltip", data-bs-placement="top", title="生成")
              i.fa.fa-spinner
            button#close-fullscreen.btn.btn-light.mx-1(data-bs-toggle="tooltip", data-bs-placement="top", title="閉じる")
              i.fa.fa-times
          #nav-gallery.image-gallery-nav
            for item of images
              .gallery-item
                img.m-auto(src=`data:image/png;base64,${item.image}` data-id=`${item.imageId}`)
      
      .col-12.order-3.order-sm-2
        hr
        .contain-carousel.position-relative
          #image-gallery-fullscreen-toolbar.position-absolute.flex-row.m-2(style="top:0;right:0;z-index:1;display:none;")
            button.image-gallery-regeneration.btn.btn-light.mx-1(data-bs-toggle="tooltip", data-bs-placement="top", title="生成")
              i.fa.fa-spinner
            button#close-image-gallery-fullscreen.btn.btn-light.mx-1(data-bs-toggle="tooltip", data-bs-placement="top", title="閉じる")
              i.fa.fa-times
          #image-gallery.masonry-container.row

  script(src="/js/stable-diffusion-script.js")
