extends ../dashboard

block dynamicContent
  .masonry-container.row
    each data in scrapedData.reverse()
      .col-md-4.masonry-item
        .card.card-clickable(data-id=data._id)
          if data.preview
            if data.preview.includes('.mp4')
              video(width="100%" height="auto" controls style='object-fit: cover;')
                source(src=data.preview, type="video/mp4")
            else 
              img.card-img-top(src=data.thumb, alt=data.title, style='object-fit: cover;')
          .card-body
            .d-flex.justify-content-between
              button.btn.bg-dark.rounded.download-button(data-id=data.url)
                i.fas.fa-download DL
              a.btn.bg-dark.rounded(target="_blank" href=data.source)
                i.fas.fa-link Link
              button.btn.bg-dark.rounded.info-button(data-id=data.url)
                i.fas.fa-info Info
              p.card-title(style="display:none")= data.title